/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#userInfo {
    border: dashed black thick;
    width: 50%;
}

#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }

