/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#userInfo {
    border: dashed black thick;

}

#my_camera {
    display: inline-block;
}

#results {
    display: inline-block;
}

.userDetails {
    margin-top: 20px;
}
